# Node.js dependencies
node_modules/

# Environment variables
data/.env

# Settings
data/settings.json
data/currency.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Labels
labels/

# Optional system files
.DS_Store
Thumbs.db

# Optional IDE/editor files
.vscode/
.idea/

# Personal notes
data/tree.txt
data/unicode.txt
data/currency.json
